.master-container-detailed-job-view {
  min-height: 87vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #121212;
  padding-top: 40px;
}
.loader-container-job-detailed-view {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.jobs-failure-view-container-detailed {
  height: 87vh;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 576px) {
  .jobs-failure-view-container-detailed {
    padding: 40px;
  }
}
.failure-image {
  width: 400px;
}
@media screen and (max-width: 576px) {
  .failure-image {
    width: 300px;
  }
}
.detailed-job-container {
  width: 90vw;
}
.skills-container-title {
  color: white;
  font-family: 'Roboto';
  margin-top: 20px;
  font-weight: bold;
}
.skills-container {
  list-style-type: none;
  padding-left: 0px;
  color: #f1f5f9;
  font-family: 'Roboto';
  display: flex;
  flex-wrap: wrap;
}
.skill-item {
  display: flex;
  width: 30%;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .skill-item {
    width: 40%;
  }
}
.skill-image {
  width: 50px;
  margin-right: 10px;
}
@media screen and (max-width: 576px) {
  .skill-image {
    width: 30px;
    height: 30px;
  }
}
.about-company-life-main-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 500px;
  background-color: aqua;
}
.company-life-container {
  color: #f8fafc;
  font-family: 'Roboto';
}
.company-life-container {
  align-self: flex-end;
}
