.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightcyan;
  height: 100vh;
}
.contain-container {
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
}
