.employment-type-container {
  list-style-type: none;
  padding-left: 0px;
}
.range-heading {
  color: #f8fafc;
  font-family: 'Roboto';
}
@media screen and (max-width: 576px) {
  .range-heading {
    font-size: 15px;
  }
}
.range-list-item {
  color: #f8fafc;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 12px;
  display: flex;
  align-items: center;
}
